<div class="about">
  <h1>About!</h1>
  <p>This is a practice <a href="http://emberjs.com/">Ember</a> application. It’s based on Jon Evans’ <a href="https://youtu.be/vLXGKNA4P_g">introduction video</a>.</p>
</div>
