<div class="posts">
  <h1>Posts!</h1>
  <ul class="list-unstyled">
    {{#each}}
      <li>
        {{title}}
        <span class="text-muted">by {{author.name}}</span>
      </li>
    {{/each}}
  </ul>
</div>
