<article class="hentry post">
  <h1 class="entry-title">{{title}}</h1>

  <div class="vcard">
    <span class="fn n">{{author.name}}</span>
  </div>

  <div class="entry-content">
    {{body}}
  </div>
</article>
