<div class="row posts">
  <div class="col-xs-12 col-sm-4">
    <h1>Posts!</h1>
    <ul class="list-unstyled">
      {{#each}}
        <li>
          {{#link-to 'post' this}}
            {{title}}
            <span class="text-muted">by {{author.name}}</span>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8">
    {{outlet}}
  </div>
</div>
